<!--   
  <div class="sidebar" >
    <button (click)="toggleSidebar()">Toggle Sidebar</button>
    <ul *ngIf="isSidebarOpen" class="sidebar-menu">
      <li>Menu Item 1</li>
      <li>Menu Item 2</li>
      <li>Menu Item 3</li>
    </ul>
  </div> -->
  <mat-sidenav-container class="full-height" autosize="true">
    <mat-sidenav mode="side" opened (click)="toggleSidebar()">
        
        <!-- <div mat-menu-item (click)="toggleSidebar()" class="with-icon padded">
            <mat-icon matTooltip="toggle side menu">menu</mat-icon>&nbsp;
        </div> -->

        
        <mat-list-item [routerLink]="'List'">
          <mat-icon mat-list-icon>home</mat-icon>
          <span [hidden]="collapse">List</span>
        </mat-list-item>
    </mat-sidenav>

    <mat-sidenav-content class="padded">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>