/* .sidebar {
    width: 250px;
    background-color: #f1f1f1;
    transition: width 0.3s;
  }
  
  .sidebar.open {
    width: 0;
  } */
  
  .full-height {
    height: 100%;
}

.padded {
    padding: 10px;
}

.with-icon {
    display: flex;
    align-items: center;
}